.about {
  background: #484283;
  overflow: hidden;
  height: 580px;

  @media (max-width: 1370px) { 
    height: 500px;
  }
  @media (max-width: 1000px) {
    height: 300px;
  }
}

.about::before {
  content: '';
  background-image: url('../../assets/icons/figure1.svg');
  width: 310px;
  height: 424px;
  display: block;
  position: absolute;

}

.about__wrapper {
  display: flex;
  position: relative;
  max-width: 1180px;
  margin: 222px auto 0;

  @media (max-width: 1200px) {
    max-width: 90%;
  }

  @media (max-width: 1000px) {    
   justify-content: center;
   margin: 30px auto ;
  }

}


.about__content {
  width: 455px;
  margin-left: 4px;
}


.about__title {
  color: white;
  margin-bottom: 7px;
}

.about__text {
  width: 380px;
  @media (max-width: 650px) {
   width: auto;
  }
}

.about__logo {
    color: white;
    margin-top: 40px;
    text-align: end;
    position: relative;
}

.about__logo::before {
    content: '';
    width: 30px;
    height: 5px;
    background-color: white;
    position: absolute;
    right: 129px;
    top: 7px;
}

.about__image {
  position: absolute;
  top: -222px;
  right: 0;

  @media (max-width: 1370px) {   
    right: -200px;
  }

  @media (max-width: 1000px) {    
    display: none;
  }
}
