.skeleton-catalog {
  width: 100%;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-catalog__cards {
  row-gap: 10px;
  column-gap: 20px;
  margin-bottom: 33px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.skeleton-catalog__cards.skeleton-catalog__cards_staff {
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.skeleton-catalog__card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  max-width: 375px;
}

.skeleton-catalog__image_container {
  height: 293px;
}

.skeleton-catalog__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
  display: block;
}

.skeleton-catalog__modelName {
  margin-top: 5px;
  height: 23px;
  width: 180px;
  border-radius: 20px;
}

.skeleton-catalog__price {
  margin-top: 5px;
  border-radius: 20px;
  height: 20px;
  width: 50%;
}

.skeleton-catalog__button {
  width: 25%;
  height: 67px;
}


@media (max-width: 990px) {
  .skeleton-catalog__image_container {
    height: 200px;
  }
}

@media (max-width: 620px) {
  .skeleton-catalog__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skeleton-catalog__card {
    width: 320px;
  }

  .skeleton-catalog__modelName,
  .skeleton-catalog__price {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .skeleton-catalog__image_container {
    height: 150px;
  }
}
