.catalog {
  padding: 55px 0 53px;
  background: white;
}

.catalog__wrapper {
  max-width: 1180px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 90%;
  }
}

.catalog__content {
  display: flex;
  gap: 20px;
  margin-top: 30px;

  @media (max-width: 800px) {
    flex-direction: column;
    width: calc(100% - 50px);
  }
}

.catalog__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__button {
  width: 171px;
  font-size: 15px;
}
