.nav-block {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav-block__nav {
  display: flex;
  gap: 36px;
}

@media (max-width: 1090px) {
  .nav-block__nav a:not(:last-child) {
    display: none;
  }

}

.nav-block__burger {
  display: none;
}

@media (max-width: 1090px) {
  .nav-block__burger {
    display: block;
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .nav-block__cart_icon,
  .nav-block__cart_icon::before,
  .nav-block__cart_text {
    display: none;
  }
}
