.sneakersCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;

  @media (max-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
  }
}

.sneakersCard__checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sneakersCard__checkbox input {
  border-radius: var(--border-radius);
  margin: 0 4px 0 0;
}

