.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;

  @media (max-width: 1250px) {
    width: 200px;
  }

  @media (max-width: 600px) {
    width: 100px;
  }
}

.card__image {
  width: 100%;
  height: auto;
}

.card__details {
  padding-top: 10px;

  @media (max-width: 600px) {
    padding-top: 0;
  }
}

.card__modelName {
  margin-bottom: 5px;
  color: #444b58;
  font-weight: 600;

  @media (max-width: 600px) {
    font-size: 13px;
  }
}

.card__price {
  color: #444b58;
  font-size: 20px;
  font-weight: 400;

  @media (max-width: 600px) {
    font-size: 13px;
  }
}
