.introduction {
  padding: 87px 0 92px;
  background-color: var(--purple-background-color);
  height: 100%;

  @media (max-width: 500px) { 
    padding: 20px 0;
  }
}

.introduction__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;

  background-image: url("../../assets/icons/GoodForYou.svg");
  background-repeat: no-repeat;
  background-position: 38px 93px;
  background-size: 90%;

  @media (max-width: 1200px) {
    max-width: 90%;
    background-position: center;
    background-size: 100%;
  }

  @media (max-width: 500px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.introduction__tittle {
  margin-left: 3px;
}

.introduction__text {
  margin: 20px 0 40px 3px;
}

.introduction__button {
  margin-left: 15px;
}
