.checkbox {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.checkbox__input {
    display: none;
}

.checkbox__icon {
    width: 22px;
    height: 22px;
    border: 1px solid #DBBBA9;
    border-radius: 4px;
    margin-right: 10px;
}

.checkbox_checked .checkbox__icon {
    background: #DBBBA9;
    content: "";
}