.footer {
  background-color: var(--main-color);
  padding: 20px 0 0;
  height: 60px;
}

.footer__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  color: white;
  font-weight: 700;
  font-size: 30px;
  &:hover {
    color: white;
  }
}

.footer a {
  color: white;
  &:hover {
    color: cornflowerblue;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 15px 30px;
  }
}

@media (max-width: 450px) {
  .footer__logo {
    font-size: 20px;
  }
}
