.ourteam {
  background: var(--purple-background-color);
  position: relative;
}

.ourteam::before {
  content: "";
  display: block;
  background-image: url("../../assets//icons/figure2.svg");
  position: absolute;
  right: 0;
  width: 301px;
  height: 550px;
}

@media (max-width: 1000px) {
  .ourteam::before {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .ourteam::before {
    display: none;
  }
}

.ourteam__wrapper {
  padding: 60px 0 135px;
  margin: 0 auto;
  width: 1180px;

  @media (max-width: 1200px) {
    width: 90%;
  }

  @media (max-width: 500px) {
    width: 250px;
    margin: 0 auto;
    padding: 20px 0 20px;
  }
}

.ourteam__title {
  color: white;
}

.ourteam__content {
  margin: 25px auto 0;
  display: flex;
  gap: 20px;
  justify-content: center;

  @media (max-width: 500px) {
    gap: 10px;
  }

  img {
    width: 380px;
  }
}
.person-info .person__img {
  @media (max-width: 1200px) {
    width: 150px;
  }
  @media (max-width: 500px) {
    width: 80px;
  }
}

.ourteam__persons {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 500px) {
    gap: 10px;
  }
}

.person-info img:hover {
  filter: brightness(70%);
}

.person-info {
  position: relative;
}

.person-info .person-details {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  display: none;
}

.person-info img:hover + .person-details {
  display: block;
}

.person-name {
  color: white;
}

.person-position {
  font-weight: 400;
  color: white;
}

.ourteam__persons:nth-child(2) {
  margin-top: 100px;
}
