:root {
  --purple-background-color: #484283;
  --main-color: #444b58;
  --text-fair-color: white;
  --border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Jost";
  background-color: #e5e5e5;
  color: var(--main-color);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-fair-color);
  @media (max-width: 500px) {
    font-size: 25px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
}

h3 {
  font-size: 24px;
  font-weight: 700;
}
h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: var(--text-fair-color);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  font-size: 16px;
  font-weight: 600;
}

input {
  width: 24px;
  height: 24px;
}
